body {  
  background-color: lightgray  ;
  margin: 100px; 
  background-image: url('newbg.jpg');
  background-attachment: fixed;
  letter-spacing:1.2px
}  


h1 {  
  color: #FAFAD2;;
  text-shadow: 2px 2px 5px red;  
}  
p {  
  color: blue;  
}

h3 {  
  color: #FFFF00;
  text-shadow: 2px 2px 5px red;  
}

::placeholder{
  color: #FFFFFF;
  font-style: oblique;
  opacity: 0.5;
  width: 100%;
}

td tr {
	color:magenta;
}

.login
{
  
  text-align: center;
  text-shadow: 2px 2px 5px red;
  font-family:Georgia Serif;
  font-style: oblique;
  font-size: 2vw;
  display: inline;
}

h2 {  
  color: #FFFFF0;
  text-shadow: 2px 2px 5px red;  
}

input { 

  background: rgba(0,0,0,0.3);
  font-size: 13px;
  color: #1E90FF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);

}

#ab:hover
{
  background-color: #222527;
  color: rgb(21, 235, 85); 
}